body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background: #f9f9f9;
    color: #333;
}
header{
    background: #222;
    color: #fff;
    padding: 30px 15px;
    text-align: center;
}

section{
    padding: 20px 15px;
    background: #fff;
    margin: 10px;
    border-radius: 8px;
}
h2{
    color: #222;
}
ul{
    padding-left: 20px;
}
footer{
    text-align: center;
    padding: 15px;
    font-size: 14px;
    color: #666;
}
.profile{
    width: 5px;
    height: 5px;
    border-radius: 0%;
    margin-top: auto 10px;
    display: block;
    object-fit: cover;
}